#root {
    min-height: 100%;
}

.App {
    min-height: 100%;

    &--withHeader {
        padding-top: $AppHeader-height;
    }
}

.main {
    min-height: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-sb {
    justify-content: space-between;
}

.flex-sa {
    justify-content: space-around;
}

.flex-as {
    align-items: flex-start;
}

.flex-ae {
    align-items: flex-end;
}

.flex-ac {
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }
.flex-6 { flex: 6; }
