body {
    font-size: $font-size-body;
    font-family: $font-family-body;
    color: $font-color-body;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjus: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: $font-bold;
    margin: 0;
}

a {
    color: $color-link;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $color-link-hover;
    }
}
