//-------------------------------------//
// MEDIA QUERIES
$media-lg: 1200px;
$media-md: 992px;
$media-sm: 768px;
$media-xs: 480px;

//-------------------------------------//
// COLORS

$color-body-background: #ececec;
$color-activity-indicator: #000;

$color-brand-orange: #fcb03e;
$color-brand-blue: #348dd4;
$color-darkbrown: #343a40;
$color-green: #35D367;
$color-red: #E63939;
$color-lightgray: #E1E8EE;

$color-link: $color-brand-orange;
$color-link-hover: lighten($color-link, 4%);

//-------------------------------------//
// FONTS

// fonts: base styles
$font-color-body: #334150;
$font-family-body: 'Poppins', Arial, Sans-Serif;
$font-size-body: 14px;
$font-size-title: 22px;

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-bolder: 900;


//-------------------------------------//
// SPACING

$spacing: 20px;
$spacing-half: $spacing / 2;
$spacing-double: $spacing * 2;
$spacing-third: $spacing * 3;

//-------------------------------------//
// Component Variables

// Z-Indexes
$zindex-appheader: 1000;

// Transition
$transition-timing-function: ease-out;
$transition-duration: 300ms;

// Radius
$border-radius-default: 8px;

// Box Shadow
$box-shadow-default: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

// App Header
$appheader-height: 60px;
$appheader-background-color: $color-darkbrown;

// App Header Nav
$appheadernav-width: 240px;
$appheadernav-transition-duration: 160ms;

// Button
$button-transition-duration: $transition-duration;
$button-transition-timing-function: $transition-timing-function;
$button-opacity-disabled: 0.5;
$button-opacity-processing: 0.6;

// Checkbox
$checkbox-fontsize-icon: 14px;
$checkbox-fontsize-text: 14px;
$checkbox-color-main: $color-brand-blue;
$checkbox-border-radius: 4px;

// Form Control
$formcontrol-label-fontsize: 16px;
$formcontrol-fontsize: 14px;
$formcontrol-height: 42px;
$formcontrol-padding: 0 $spacing;
$formcontrol-border-radius: 6px;
$formcontrol-border-width: 2px;
$formcontrol-background-color: #fff;
$formcontrol-color-main: $color-brand-blue;
$formcontrol-color-readonly: #fff;
$formcontrol-background-color-readonly: lighten($color-brand-blue, 5);
$formcontrol-color-placeholder: lighten($color-brand-blue, 25);

// ItemPicker
$itempicker-border-radius: $formcontrol-border-radius;
$itempicker-border-width: $formcontrol-border-width;
$itempicker-color-main: $formcontrol-color-main;
$itempicker-background-color: $formcontrol-background-color;
