//-------------------------------------//

// BROWSER PREFIXES
$browser-prefixes: 'webkit',
    'moz',
    'ms',
    'o';


// MEDIA QUERIES
$media-lg: 1200px;
$media-md: 992px;
$media-sm: 768px;
$media-xs: 480px;

//-------------------------------------//
// COLORS
$color-green: #35D367;
$color-red: #E63939;
$color-lightgray: #E1E8EE;

$color-body: #334150;
$color-link: $color-body;

$background-color-body: #ececec;

//-------------------------------------//
// FONTS

$font-family-body: 'Poppins', Arial, Sans-Serif;
$font-color-body: $color-body;
$font-size-body: 14px;

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-bolder: 900;


//-------------------------------------//
// SPACING

$spacing: 20px;
$spacing-half: $spacing / 2;
$spacing-double: $spacing * 2;
$spacing-third: $spacing * 3;

//-------------------------------------//
// Global Variables

// Radius
$border-radius-small: 3px;
$border-radius-medium: 6px;
$border-radius-large: 9px;

// Box Shadow
$box-shadow-light: 0 1px 3px rgba(#000, 0.12), 0 1px 2px rgba(#000, 0.24);
$box-shadow-medium: 0 3px 6px rgba(#000, 0.16), 0 3px 6px rgba(#000, 0.23);
$box-shadow-heavy: 0 10px 20px rgba(#000, 0.19), 0 6px 6px rgba(#000, 0.23);

//-------------------------------------//
// App Variables

// App Header
$AppHeader-height: 60px;
$AppHeader-background-color: gray;

// App Header Nav
// $appheadernav-width: 240px;
// $appheadernav-transition-duration: 160ms;

//-------------------------------------//
// Component Variables

// ActivityIndicator
$ActivityIndicator-stroke: red;

// CheckBox
$CheckBox-border: 2px solid #E4F0FC;
$CheckBox-color: #AE77EA;
$CheckBox-checked-background-color: #AE77EA;

// RadioBox
$RadioBox-border: 2px solid #E4F0FC;
$RadioBox-hover-border: 7px solid #e9dcf7;
$RadioBox-hover-background-color: rgba(#AE77EA, 0.5);
$RadioBox-checked-border: 7px solid #e9dcf7;
$RadioBox-checked-background-color: #AE77EA;

// Rating
$Rating-default-color: #F2C94C;

// Slider Range Picker
$SliderRangePicker-active-color: #AE77EA;
$SliderRangePicker-base-color: #dfdfdf;
$SliderRangePicker-disabled-color: darken(#dfdfdf, 5%);

// $formcontrol-label-fontsize: 16px;
// $formcontrol-fontsize: 14px;
// $formcontrol-height: 42px;
// $formcontrol-padding: 0 $spacing;
// $formcontrol-border-radius: 6px;
// $formcontrol-border-width: 2px;
// $formcontrol-background-color: #fff;
// $formcontrol-color-main: $color-brand-blue;
// $formcontrol-color-readonly: #fff;
// $formcontrol-background-color-readonly: lighten($color-brand-blue, 5);
// $formcontrol-color-placeholder: lighten($color-brand-blue, 25);

// ItemPicker
// $itempicker-border-radius: $formcontrol-border-radius;
// $itempicker-border-width: $formcontrol-border-width;
// $itempicker-color-main: $formcontrol-color-main;
// $itempicker-background-color: $formcontrol-background-color;
