/*
 * Custom App Component Styling
 */
@import-normalize;

@import '_variables';
@import '_normalize';
@import '_mixins';
@import '_global';
@import '_components';

#root,
.App {
    min-height: 100%;
}

.App {
    &--withHeader {
        padding-top: $AppHeader-height;
    }

    &__h1 {
        margin-left: $spacing;
        margin-top: $spacing-double;
        margin-bottom: $spacing;
    }


    &__ItemPickerView {
        width: 200px;
    }

    &__avatar {
        min-width: 50px;
        width: 50px;
        height: 50px;
        font-size: 50px;
        border-radius: 50px;
    }

    &__loading {
        margin: 0 $spacing-double;
    }

    &__button {
        box-shadow: $box-shadow-light;
        border-radius: $border-radius-medium;
        margin: 0 $spacing;
        border: 1px solid gray;
        height: 30px;
        min-width: 80px;
        padding: 0 $spacing-half;
    }

    &__checkbox,
    &__radiobox {
        margin-left: $spacing;
    }

    &__SliderRangePicker {
        // text-align: center;
        padding: 0 20px;
    }

    &__Rating {
        &-title {
            text-align: left;
        }

        &-steps {
            &-step {
                margin: 0 $spacing-half;
            }
        }

        text-align: center;
        padding: 0 20px;
    }

    &__Utils {
        margin-left: $spacing;
    }
}

.AppHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $AppHeader-height;
    background-color: $AppHeader-background-color;
}
